*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 80%;
    margin: auto;
}

/* Header section */
.first-container {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freshbasket{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.Sign-in-btn{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero section */
.top{
    background-color: #f0f0db;
    display: inline-block;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    margin-top: 20px;
}

.img{
    width: 1200px;
    height: 300px;
    border-radius: 15px;
}

.hero-heading{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-para{
    line-height: 1.6;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-lists{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.first-order{
    padding: 10px 20px;
    background-color: #088920;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.view{
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    border: 2px solid #bfcac1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

 /* First Section */
.main-section{
    background-color: #e0f2f2;
   padding: 30px 30px;

}

.firstsection-head{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    margin-bottom: 20px;
}

.firstsection-para{
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}   

.firstsection-steps{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 50px;
}

.step{
    background-color: white;
    font-size: 13px;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6;
}

.step p{
    margin-top: 10px;
    margin-bottom: 15px;
}

.small{
    width: 50px;
    height: 50px;
    background-color: #e0f2f2;
    border-radius: 5%;
    margin-bottom: 15px;
}

.small img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
}



/* second-section */
.second-section{
    background-color: #f9f6f6;
   padding: 30px 30px;
}


/* third section */
.third-section{
    background-color: #e0f2f2;
    padding: 70px 0;

     display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section-content{
   display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #28a745;
    align-items: center;
    text-align: center;
    padding: 70px 100px;
    border-radius: 5px;
    color: white;
    gap: 30px;
}

.third-heading{
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.third-para{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    width: 70%;
}

.create-account{
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
 
}

/* Footer section */
.footer-content{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
}